.bg_color {
  background-color: #222D32;
}

.mb_20 {
  margin-bottom: 20px;
}

.mt_150 {
  margin-top: 150px;
}

.panel-title {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
}

.red {
  color: red;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

.lt_aside {
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100%;
  background-color: #222D32;
  z-index: 999;
  transition: all 1s;
}

.lt_aside.hidemenu {
  left: -180px;
}

.lt_aside .brand {
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 24px;
  background-color: #367FA9;
}

.lt_aside .brand a {
  color: #fff;
}

.lt_aside .user {
  padding-top: 30px;
  height: 180px;
}

.lt_aside .user img {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto;
}

.lt_aside .user p {
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.lt_aside .nav li a {
  display: block;
  height: 40px;
  line-height: 40px;
  color: #fff;
  border-left: 3px solid transparent;
  padding-left: 40px;
}

.lt_aside .nav li a.current {
  background-color: #1D1F21;
  border-left: 3px solid #006699;
}

.lt_aside .nav li i {
  margin-right: 5px;
}

.lt_aside .nav li .child a {
  padding-left: 60px;
}

.lt_main {
  padding-left: 180px;
  padding-top: 50px;
  min-height: 1000px;
  transition: all 1s;
}

.lt_main.hidemenu {
  padding-left: 0px;
}

.lt_main .lt_topbar {
  height: 50px;
  background-color: #3C8DBC;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding-left: 180px;
  transition: all 1s;
  z-index: 666;
}

.lt_main .lt_topbar.hidemenu {
  padding-left: 0px;
}

.lt_topbar a {
  display: block;
  width: 50px;
  height: 50px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}

.lt_main .breadcrumb {
  margin-top: 20px;
}

.table.table-bordered th,
.table.table-bordered td {
  text-align: center;
  vertical-align: middle;
}